* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 45px;
    border: 5px solid blue;
    padding: 10px;
}

nav {
    height: 75px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid purple;
}

.container-grid {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 250px 250px;    
    gap: 10px;    
    border: 5px solid red;
    justify-content: center;
    padding: 10px;
    margin-top: 40px;

}

main {
    height: 180px;
}

main, article, aside {
    
    border: 5px solid black;
}

.declaration {
    height: 200px;
    border: 5px solid orangered;
    /* padding: 10px; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    align-content: center;
    justify-content: center;
    /* gap: 5px; */
    
}

.people-dcl{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px solid green;
    align-items: center;
    transition: width 1s;
    transition: height 1s;    
}

.people-dcl:hover {
    width: 180px;
    height: 180px;
}

footer {
    height: 80px;
    border: 5px solid tomato;
    margin-top: 15px;
}



@media only screen and (max-width: 768px){
    body {
        background-color: rgb(163, 241, 238);
    }
    .people-dcl {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        transition: width 2s;
        transition: height 2s;
    }
    .people-dcl:hover {
        height: 120px;
        width: 120px;
    }
    }