.container {
  display: grid;
  background-color: red;
  gap: 10px;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "section1 section1 section2 section2"
    "main main aside aside"
    "foto foto foto foto"
    "footer footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  gap: 10px;
  padding: 10px;
  background-image: url("preto.png");
  background-size: 100% 100%;
}

.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}

.section1 {
  grid-area: section1;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.section2 {
  grid-area: section2;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.item {
  background-color: blue;
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.footer {
  grid-area: footer;
}
